@import "../utilidades/variables";
@import "../utilidades/mixin";

// estilos de pantallas de celulares
/* estilo para home */
.logo-3d {
    display: flex;

    img {
        @include imagen;
        padding: 10px;
    }
}

.detalle {
    background-color: #000000;
    color: #f0f8ff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

// mq de escritorio 