@import "../utilidades/variables";
@import "../utilidades/mixin";

// estilos de pantallas de celulares
/* estilos para panaderia AYA */
/* uso de grid */
.panaderia-padre {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    img {
        @include imagen;
    }
}

.carrusel-panaderia {
    display: none;
}

.contacto-aya {
    display: none;
}

.logo-aya-png {
    display: flex;

    img {
        @include imagen;
        padding: 10px;
    }
}

.panadero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.panas1 {
    grid-row: span 2;

    img {
        width: 100%;
    }
}

.panas {
    width: 100%;
}

/* mq de tablet */

@media screen and (min-width:600px) {


    .carrusel-panaderia {
        display: block;
    }

    .logo-aya-png {
        display: none;
    }
}

// mq de escritorio 
@media screen and (min-width: 1024px) {

    /* estilos para pc de panaderia */
    .panaderia-padre {
        display: grid;
    }

    .carrusel-panaderia {
        display: none;
    }

    .contacto-aya {
        display: block;
        text-align: center;
        background-image: url(../img/fondo-panes.jpg);
        font-size: 25px;
    }

    .panadero {
        display: none;
    }

}